.middle-header {
  background-color: #fff;
  padding: 1.5rem 0;
  position: relative;
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  background-color: #fff;
  box-shadow: 0 0 15px rgb(0 0 0 / 65%);
  padding: 0;
  animation: scrollDown 0.5s ease-out both;
}

@keyframes scrollDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.mobile-hamburger {
  display: none;
  font-size: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
  color: var(--light-color);
}

.middle-header__mobile-searchicon {
  display: none;
  font-size: 1.3rem;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.middle-header__mobile-searchicon i {
  cursor: pointer;
  color: var(--light-color);
}

.middle-header__mobile-searchbar {
  display: none;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  padding: 10px 0;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(var(--light-color), 0.75);
}

.middle-header__mobile-search-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 213px;
  background-color: #fff;
  border-top: 2px solid var(--primary-color);
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
  z-index: 5;
  overflow-y: auto;
}

.middle-header__mobile-searchbar form {
  display: flex;
  align-items: center;
  height: 42px;
}

.middle-header__mobile-searchbar form input {
  padding: 5px 0;
  flex: 1;
  border: none;
  outline-width: 0;
  height: 100%;
  font-size: 0.8rem;
}

.middle-header__mobile-searchbar form button {
  height: 100%;
  width: 40px;
  border: none;
  background-color: transparent;
  color: var(--tertiary-color);
  cursor: pointer;
}

.middle-header__mobile-searchbar form button i {
  font-size: 0.9rem;
}

.middle-header__mobile-shoppingbag {
  margin-left: 1.5rem;
  color: var(--tertiary-color);
  text-decoration: none;
}

.middle-header__mobile-shoppingbag div span {
  background-color: var(--tertiary-color);
  color: #fff;
  font-weight: 700;
}

.middle-header__flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.middle-header__logo,
.middle-header__icons {
  flex: 0.25;
}

.middle-header__icons i,
.middle-header__icons .middle-header__cartprice {
  color: var(--tertiary-color);
}

.middle-header__searchbar {
  flex: 0.5;
  position: relative;
}

.middle-header__search-results {
  position: absolute;
  width: 100%;
  max-height: 213px;
  margin-top: 0.5rem;
  background-color: #fff;
  border-top: 2px solid var(--primary-color);
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
  z-index: 5;
  overflow-y: auto;
}

.middle-header__search-result-list {
  list-style: none;
}

.middle-header__search-result-list li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.middle-header__search-result-list li a {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  color: var(--light-color);
}

.middle-header__search-result-list li a:hover {
  background-color: var(--light-color);
}

.middle-header__logo a {
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: -3px;
  color: var(--secondary-color);
}

.middle-header__logo-dark {
  color: var(--primary-color);
}

.middle-header__searchbar form {
  background-color: #fff;
  height: 42px;
  display: flex;
  border-radius: 1000px;
  border: 2px solid var(--primary-color);
}

.middle-header__searchbar form input {
  padding: 10px 30px;
  width: 100%;
  height: 38px;
  font-size: 0.88rem;
  border: none;
  border-radius: inherit;
  flex: 1;
  outline-width: 0;
}

.middle-header__searchbar form button {
  width: 55px;
  display: block;
  transform: translateX(2px);
  border: 1px solid var(--primary-color);
  border-radius: 0 25px 25px 0;
  background: var(--primary-color);
  outline-width: 0;
}

.middle-header__searchbar form button:hover {
  opacity: 0.8;
}

.middle-header__searchbar form button i {
  font-size: 18px;
  color: var(--light-color);
}

.middle-header__icons ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: flex-end;
}

.middle-header__icons ul li {
  margin-left: 15%;
}

.middle-header__icons ul li a {
  color: var(--light-color);
  font-weight: 700;
  text-decoration: none;
}

.middle-header__icons ul li:first-child {
  margin-left: 0;
}

.middle-header__shoppingbag,
.middle-header__mobile-shoppingbag {
  display: flex;
  align-items: center;
}

.middle-header__shoppingbag img,
.middle-header__mobile-shoppingbag img {
  height: 24px;
  width: 24px;
  margin-right: 7px;
}

.middle-header__cartprice {
  font-size: 0.8rem;
  padding-top: 4px;
  margin-left: 4px;
}

.icon-badge__container {
  position: relative;
}

.icon-badge__container:hover .icon-badge {
  animation: bounce 1s ease-out infinite normal;
}

.icon-badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: var(--primary-color);
  position: absolute;
  top: 15px;
  left: 10px;
}

/* ========================== ANIMATIONS ========================== */
@keyframes bounce {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-8px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* ========================== MEDIA QUERIES ========================== */
@media (max-width: 992px) {
  .middle-header {
    background-color: var(--primary-color);
    padding: 0.5rem 0;
  }

  .mobile-hamburger {
    display: block;
  }

  .middle-header__logo-dark {
    color: var(--light-color);
  }

  .middle-header__logo a {
    color: var(--secondary-color);
  }

  .middle-header__mobile-searchicon {
    display: flex;
  }

  .middle-header__cartprice {
    color: var(--light-color);
    font-size: 0.7rem;
    margin-left: 8px;
  }

  .middle-header__mobile-searchbar {
    display: block;
  }

  .middle-header__searchbar {
    display: none;
  }

  .middle-header__icons {
    display: none;
  }
}

@media (max-width: 450px) {
  .mobile-hamburger {
    font-size: 1.2rem;
  }

  .middle-header__logo a {
    font-size: 1.2rem;
  }

  .middle-header__mobile-searchicon {
    font-size: 1rem;
  }

  .middle-header__mobile-shoppingbag img {
    width: 20px;
    height: 20px;
  }
}
