.aboutus__banner {
  text-align: center;
  padding: 5rem 0;
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--tertiary-color);
  background-color: #f8f8f8;
}

.aboutus__story {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.aboutus__story-a {
  text-align: center;
}

.aboutus__story-a h5,
.aboutus__story-b h5 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0.9rem 0;
}

.aboutus__story-a p,
.aboutus__story-b p {
  font-size: 0.7rem;
  font-weight: 400;
}

.aboutus__employees {
  padding: 4rem 2rem;
  background-color: #f8f8f8;
}

.aboutus__employees > .aboutus__employee-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.aboutus__employee-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.aboutus__employee-image img {
  width: 170px;
  border-radius: 50%;
}

.aboutus__employee-name {
  font-weight: 700;
  font-size: 0.8rem;
  text-align: center;
}

.aboutus__employee-roll {
  text-align: center;
  font-size: 0.7rem;
}

.aboutus__hiring-cricle {
  background-color: #fed700;
  width: 170px;
  height: 185.44px;
  border-radius: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.1;
  margin-bottom: 0.77rem;
}

.aboutus__hiring-top {
  font-size: 0.95rem;
}

.aboutus__hiring-bottom {
  font-size: 1.5rem;
  font-weight: 700;
}

.aboutus__employee-detailBtn {
  cursor: pointer;
  color: var(--tertiary-color);
  transition: all 0.2s ease-out;
}

.aboutus__employee-detailBtn:hover {
  color: var(--primary-color);
}

@media (max-width: 1175px) {
  .aboutus__hiring-cricle,
  .aboutus__employee-image img {
    width: 130px;
    height: 133px;
    margin-bottom: 8px;
  }
}

@media (max-width: 991px) {
  .aboutus__hiring-cricle,
  .aboutus__employee-image img {
    width: 100px;
    height: 103px;
    margin-bottom: 8px;
  }

  .aboutus__hiring-top {
    font-size: 0.7rem;
  }

  .aboutus__hiring-bottom {
    font-size: 0.8rem;
  }
}

@media (max-width: 787px) {
  .aboutus__banner {
    padding: 3rem 0;
    font-size: 2.5rem;
  }

  .aboutus__employees > .aboutus__employee-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .aboutus__employee {
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  .aboutus__banner {
    padding: 2.5rem 0;
    font-size: 2rem;
  }

  .aboutus__employees > .aboutus__employee-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .aboutus__employee {
    margin-bottom: 1rem;
  }
}
