.productcard {
  padding: 15px;
  width: 247px;
  position: relative;
  border: 1px solid #ddd;
  box-shadow: 0 2px 2px 0 rgba(77, 77, 79, 0.08),
    0 0 2px 0 rgba(77, 77, 79, 0.16);
  margin-left: 3px;
  cursor: pointer;
}

.productcard:hover {
  transform: scale(1.03);
}

.productcard:hover .productcard__bottomInfo button {
  background-color: var(--primary-color);
}

.productcard__vendor {
  font-size: 0.6rem;
  margin-bottom: 0.4rem;
}

.productcard__title {
  font-size: 0.7rem;
  font-weight: 700;
  color: var(--secondary-color);
}

.productcard__image {
  width: 220px;
  height: 220px;
}

.productcard__image img {
  width: 100%;
  object-fit: cover;
}

.productcard__bottomInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productcard__price {
  font-size: 1rem;
}

.productcard__bottomInfo button {
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: #fff;
  background-color: var(--light-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.productcard__bottomInfo button:hover {
  background-color: var(--tertiary-color) !important;
}
