.rec-item-wrapper {
  padding: 10px !important;
}

.rec-arrow:hover,
.rec-arrow:active,
.rec-arrow:focus {
  background-color: var(--tertiary-color) !important;
}

.productscarousel .rec-arrow {
  font-size: 0.7rem;
  min-width: 25px;
  min-height: 25px;
  width: 25px;
  height: 25px;
  line-height: 0;
}

.productscarousel {
  margin: 0 0 2rem 0;
}

.productscarousel__catagory-name {
  font-size: 1.1rem;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
}

.productscarousel__catagory-name::before {
  content: "";
  height: 2px;
  width: 115px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: -1px;
  left: 0;
}
